.DS_Store
.lintr
.vscode/*
settings.json

model/*b0*
model/*p0*
model/*r0*

model/*.cov
model/*.dep
model/*.hes
model/*.bar
model/*.cor
model/*.cpp
!model/PWS_ASA_tmb.cpp
model/*.eva
model/*.htp
model/*.log
model/*.obj
model/*.par
model/*.psv
model/*.std

model/rep_out/*
model/mcmc_out/*
model/mcmc_out_tmb/*

*.tex

*~
.Rproj.user
*.code-workspace

retrospectives/basa-*

*.dll
*.o