model/*b0*
model/*p0*
model/*r0*
model/*.cov
model/*.dep
model/*.hes
model/*.bar
model/*.cor
model/*.cpp
model/*.eva
model/*.htp
model/*.log
model/*.obj
model/*.par
model/*.psv
model/*.std
model/rep_out/*
model/mcmc_out/*

data_outputs/*

__pycache__/*
sensitivity/src/sensitivity/__pycache__/*