exportPattern("^[[:alpha:]]+")
importFrom("utils", "read.table", "write.table")
importFrom("stats", "rnorm", "runif", "na.omit", "rlnorm", "rnbinom")
importFrom("magrittr", "%>%")
importFrom(Rdpack,reprompt)
import("ggplot2")
importFrom("stats", "density", "quantile", "rmultinom")
importFrom("utils", "data", "head", "read.csv", "tail")
importFrom("rlang", ".data")
